.red{
    color: tomato;
    font-size: large;
    font-weight: bold;

}

.blue{
    color: dodgerblue;
    font-size: large;
    font-weight: bold;
}

.green{
    color: limegreen;
    font-size: large;
    font-weight: bold;
}
.time{
    font-size: xx-large;
    font-weight: bold;
}
